@portal(bodyEnd, id: "com.realmacsoftware.accordionFilter.alpine", includeOnce: true)
<script>
    document.addEventListener('alpine:init', function() {
      Alpine.data('filter', (groupId) => ({
        groupId,
        q: '',
        init() {
          Alpine.store('filters').registerList(this.groupId);
          this.$watch('q', (value) => {
            Alpine.store('filters').updateQuery(this.groupId, value);
          });
        }
      }));
  });
</script>
@endportal

<input 
    type="search"
    x-model="q"
    placeholder="{{placeholder}}"
    class="{{classes.input}}"
    aria-label="{{placeholder}}"
>