@include("alpine")

<div
    class="{{classes.swiper}}"
    @if(!edit)
    x-data="elementsContentSlider('{{id}}', {{swiperOptions}})"
    @endif
>
    <div class="{{classes.swiperWrapper}}">
        @each(slide in slides)
        <div
            class="{{classes.slide}}"
            @if(slide.hideInEditor)
            style="display: none;"
            @endif
        >
            @dropzone("slide", title: "Slide Content")
        </div>
        @endeach
    </div>

    @if(showArrows)
    <div class="{{classes.arrows}}">
        <button
            class="{{classes.arrowButton}} content-slider-prev"
            aria-label="Previous slide"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-[65%]"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 19l-7-7 7-7"
                />
            </svg>
        </button>
        <button
            class="{{classes.arrowButton}} content-slider-next"
            aria-label="Next slide"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-[65%]"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 5l7 7-7 7"
                />
            </svg>
        </button>
    </div>
    @endif

    @if(showDots)
    @if(edit)
    <div class="{{classes.pagination}}">
        @each(slide in slides)
        <span
            class="content-slider-bullet {{classes.paginationBullet}} @if(slide.isActive) content-slider-bullet-active {{classes.paginationBulletActive}} @else {{classes.paginationBulletNormal}} @endif"
        ></span>
        @endeach
    </div>
    @else
    <div
        class="{{classes.pagination}}"
        data-bullet-class="{{classes.paginationBullet}}"
        data-bullet-normal="{{classes.paginationBulletNormal}}"
        data-bullet-active="{{classes.paginationBulletActive}}"
    ></div>
    @endif
    @endif
</div>
