@if(hasBreadcrumbs)
<ol class="{{classes.list}}">
    @each(crumb in items)
    <li class="{{classes.item}} @if(crumb.hiddenOnMobile){{classes.hiddenOnMobile}}@endif @if(crumb.mobileOnly){{classes.mobileOnly}}@endif">
        @if(crumb.isEllipsis)
        <span class="{{classes.current}}">&hellip;</span>
        @elseif(crumb.isLast)
        <span class="{{classes.current}}" aria-current="page">{{crumb.title}}</span>
        @else
        <a class="{{classes.link}}" href="{{crumb.url}}">{{crumb.title}}</a>
        @endif
        @if(crumb.showSeparator)
        <span class="{{classes.separator}}" aria-hidden="true">{{separatorContent}}</span>
        @endif
    </li>
    @endeach
</ol>
@endif
