<style lang="css">
    /* Required for alpine.js x-cloak directive to work */
    [x-cloak] {
        display: none !important;
    }

    [data-rwx-droparea] {
        /* width: 100%; */
        min-width: 60px !important;
        /* height: 100%; */
    }

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
</style>
