<div
    @mouseenter="$dispatch('gallery-lightbox-scroll-to', {id: '{{id}}', index: {{image::index}}})"
    @click="$dispatch('gallery-lightbox-show', {id: '{{id}}', slide: {{image::index}}})"
    class="{{classes.thumbnail}}"
>
    @if(image.isVideo)
    <img
        src="{{image.image}}"
        alt="{{image.alt}}"
        class="{{classes.thumbnailImage}}"
        @if(image.lazy)
        loading="lazy"
        @endif
        decoding="async"
    />
    @else @if(isRemote)
    <img
        src="{{image.image}}"
        alt="{{image.alt}}"
        class="{{classes.thumbnailImage}}"
        @if(image.lazy)
        loading="lazy"
        @endif
        decoding="async"
    />
    @else
    <img
        src="{{image.thumbnail}}"
        alt="{{image.alt}}"
        class="{{classes.thumbnailImage}}"
        @if(image.lazy)
        loading="lazy"
        @endif
        decoding="async"
    />
    @endif @endif @if(thumbnailWantsMeta)
    <div class="{{classes.thumbnailMeta}}">
        @if (thumbnailShowCaption)
        <div class="{{classes.thumbnailCaption}}">{{image.caption}}</div>
        @endif @if (thumbnailShowAuthor)
        <div class="{{classes.thumbnailAuthor}}">{{image.author}}</div>
        @endif
    </div>
    @endif
</div>
