@each(page in pages)
<a
    class="{{classes.item}}"
    href="{{page.url}}"
    @if(page.isActive)
    aria-current="page"
    @endif
    @if(page.isExternal)
    x-data
    :aria-current="window.location.pathname === '{{page.url}}' ? 'page' : null"
    @endif
>
    @if(page.showIcon) @if(page.iconIsSvg) {{page.iconSvg}} @else
    <img src="{{page.icon}}" alt="{{page.title}}" class="{{classes.icon}}" />
    @endif @endif @if(showPageTitles)
    <span class="{{classes.title}}">{{page.title}}</span>
    @endif
</a>
@endeach
