<div 
    x-bind="summary"
    :id="'accordion-header-' + '{{id}}'"
    role="button"
    @if(!edit)
    tabindex="0"
    @endif
    :aria-expanded="open.toString()"
    :aria-controls="'accordion-content-' + '{{id}}'"
    class="{{classes.summary}}"
>
    <span class="flex-1 text-left">
        @dropzone("title", title: "Title")
    </span>
    @if(showIcon)
    <span class="{{classes.icon}}" aria-hidden="true">
        @include("icon")
    </span>
    @endif
</div>
@if(showContent)
<div 
    x-bind="content" 
    x-collapse
    @if(!edit)
    style="display: none;"
    @endif
    :id="'accordion-content-' + '{{id}}'"
    role="region"
    :aria-labelledby="'accordion-header-' + '{{id}}'"
    class="{{classes.content}}"
>
    @dropzone("content", title: "Content")
</div>
@endif