<table class="{{classes.table}}">
    @if(showHeader)
    <thead>
        <tr class="{{classes.theadRow}}">
            @each(column in columns)
            <th class="{{classes.th}} {{column.widthClass}}">
                @text("column", default: "Column")
            </th>
            @endeach
        </tr>
    </thead>
    @endif
    <tbody class="{{classes.tbody}}">
        @each(row in rows)
        <tr class="{{classes.tr}}">
            @each(column in columns)
                <td class="{{classes.td}} {{column.widthClass}}">
                    @text("cell", default: "Cell")
                </td>
            @endeach
        </tr>
        @endeach
    </tbody>
</table>
