<li x-data="{ open: false }">
    @if(page.hasPages)
    <div class="flex items-stretch justify-between">
        <a
            class="{{classes.mobile.item}} flex flex-1 items-center"
            href="{{page.url}}"
            @if(page.isActive)
            aria-current="page"
            @endif
            @if(page.hasActiveChild)
            data-active-child
            @endif
            @if(page.openInNewWindow)
            target="_blank"
            @endif
            >{{page.title}}</a
        >
        <button
            @click.stop="open = !open"
            aria-expanded="false"
            x-bind:aria-expanded="open.toString()"
            class="flex cursor-pointer items-center pl-2"
        >
            @include("mobile_submenu_indicator")
        </button>
    </div>
    @else
    <a
        class="{{classes.mobile.item}} block"
        href="{{page.url}}"
        @if(page.isActive)
        aria-current="page"
        @endif
        @if(page.hasActiveChild)
        data-active-child
        @endif
        @if(page.openInNewWindow)
        target="_blank"
        @endif
        >{{page.title}}</a
    >
    @endif

    @includeIf(page.hasPages, template: "mobile_submenu")
</li>
