<li x-data="{ open: false }" class="cursor-pointer">
    <div
        class="{{classes.mobile.item}} flex items-center justify-between"
        @click="open = !open"
        @if(page.isActive)
        aria-current="page"
        @endif
    >
        @if(page.isFolder)
        <button
            aria-expanded="false"
            x-bind:aria-expanded="open.toString()"
            class="flex justify-between items-center"
            @if(page.isActive)
            aria-current="page"
            @endif
        >
            <span>{{page.title}}</span>
            @include("mobile_submenu_indicator")
        </button>
        @else
        <a
            class="flex justify-between items-center"
            href="{{page.url}}"
            @if(page.isActive)
            aria-current="page"
            @endif
            @if(page.openInNewWindow)
            target="_blank"
            @endif
            >{{page.title}}</a
        >
        @if(page.hasPages)
        <button
            @click.stop="open = !open"
            aria-expanded="false"
            x-bind:aria-expanded="open.toString()"
            class="pl-2"
        >
            @include("mobile_submenu_indicator")
        </button>
        @endif @endif
    </div>

    @includeIf(page.hasPages, template: "mobile_submenu")
</li>
