<li x-data="{ open: false }" class="cursor-pointer">
    <div class="flex items-center justify-between">
        <a
            class="{{classes.mobile.item}} flex justify-between items-center flex-1"
            href="{{page.url}}"
            @if(page.openInNewWindow)
            target="_blank"
            @endif
            @if(page.isActive)
            aria-current="page"
            @endif
            >{{page.title}}</a
        >
        @if(page.hasPages)
        <button
            @click.stop="open = !open"
            aria-expanded="false"
            x-bind:aria-expanded="open.toString()"
            class="pl-2"
        >
            @include("mobile_submenu_indicator")
        </button>
        @endif
    </div>

    @includeIf(page.hasPages, template: "mobile_submenu")
</li>
